<configuration debug="true">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <omitEmptyFields>true</omitEmptyFields>

        <timestamp/>
        <version/>
        <loggerName/>
        <mdc>
          <excludeMdcKeyName>serviceContext</excludeMdcKeyName>
        </mdc>
        <threadName/>
        <stackTrace/>

        <pattern>
          <pattern>
            {
            "severity": "%level",
            "serviceContext": "#tryJson{%mdc{serviceContext}}",
            "message": "#tryJson{%message}"
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
